.App {
    background-image: url('./resources/pizza-bg.jpg');
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    color: bisque;
    overflow: auto;
}